<mat-sidenav-container class='sidenav-container'>
  
  <mat-sidenav mode="side" opened class='sidenav'>
    
    <div class='path-drawing-container'>
      <p>Path A:</p>
      <mat-slide-toggle 
      [checked]='this.stateService.isDrawingPathA' 
      (change)='changeDrawingSliderTogle($event)'
      id='pathAToggle'>
    </mat-slide-toggle>
    </div>
    
    <div class='path-drawing-container'>
      <p>Path B:</p>
      <mat-slide-toggle 
      [checked]='this.stateService.isDrawingPathB' 
      (change)='changeDrawingSliderTogle($event)' 
      id="pathBToggle">
    </mat-slide-toggle>
    </div>

    <mat-divider></mat-divider>

    <button mat-raised-button class='create-diagram-button' color="primary" (click)="createFreeSpaceDiagram()">Create Diagram</button>

    <mat-divider></mat-divider>


    <div class='path-drawing-container'>
      <p>Frechet Distance: {{ this.formattedDistance }}</p>
    </div>

    <mat-divider></mat-divider>

    <button mat-raised-button class='about-button' color="primary" (click)="this.changeAboutPage()">About</button>

  </mat-sidenav>

  <mat-sidenav-content class='main-sidenav-content'>
    
    <div class='graph-container' *ngIf="this.aboutPage">
      <app-graph-viz></app-graph-viz> 
    </div>

    <div class='free-space-diagram-container' *ngIf="this.aboutPage">
      <app-free-space-diagram></app-free-space-diagram>
    </div>


    <div class='about-page' *ngIf="!this.aboutPage">
      <app-about-page></app-about-page>
    </div>





  </mat-sidenav-content>
</mat-sidenav-container>



